/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===========================================
    Variables
============================================== */
:root {
  --color-principal: #206649;
  --color-secundario: #7c7b0b;
  --color-bg-principal: #faf3f7;
  --color-separacion: #cecece;
  --color-texto: #131313;
  --color-negro-90: #191919;
  --color-negro-85: #262626;
  --color-negro-70: #4c4c4c;
  --color-negro-55: #737373;
  --color-negro-40: #999;
  --color-negro-25: #bfbfbf;
  --color-negro-10: #e5e5e5;
  --color-negro-5: #f2f2f2;
  --font-principal: "Inter", sans-serif;
  --font-secundaria: "Old Standard TT", serif;
}
/* ===========================================
    Formato textos
============================================== */
h1 {
  font: 400 2rem/1.1 var(--font-secundaria);
}

p {
  font-size: 1.25rem;
}
.fontPrincipal {
  font-family: var(--font-principal);
}
.fontSecundaria {
  font-family: var(--font-secundaria);
}
button {
  padding: 15px 35px;
}

.fztitle {
  font-size: 2.1rem;
}
.fzsubtitle {
  font-size: 2.2rem;
}
.fztxt {
  font-size: 1.3rem;
}
.lh-titles {
  line-height: 1.1;
}

.lh-texto {
  line-height: 1.4;
}
.fw800 {
  font-weight: 800;
}
/* ===========================================
    Formato
============================================ */


.center {
  text-align: center;
}
.mayusculas {
  text-transform: uppercase;
}

.colorPrincipal {
  color: var(--color-principal);
}

.fondoPrincipal {
  background-color: var(--color-negro-5);
}

.fondoSecundario {
  background-color: var(--color-negro-25);
}

.borderNormal {
  border: 1px solid var(--color-negro-25)
}

.borderBottom1px {
  border-bottom: 1px solid var(--color-separacion)
}

.borderRadius10 {
  border-radius: 10px;
}

.pad25px {
  padding: 25px;
}
.pad20px0 {
  padding: 20px 0;
}
.pb20px {
  padding-bottom: 20px;
}

.mt40px {
  margin-top: 40px;
}

.mb40px {
  margin-bottom: 40px;
}
p {
  font-family: var(--font-principal);
}
p span{
  font-weight: 800;
}
p a {
}
img {
  width: 100%;
}

/* ===========================================
    Arquitectura páginas
============================================== */
.container {
  width: 90%;
  margin: 20px auto;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.gridContainer {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  gap: 25px;
}

.boxImagen {
  overflow: hidden;
}

.boxTxt h3 {
  font:400 1.1rem/1.2 var(--font-principal);
}
/* ===========================================
    Responsive 768
============================================== */
@media screen and (min-width:768px) {
  .gridContainer {
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    }

}

/*cierra 768*/

/* ===========================================
    Responsive 990
============================================== */
@media screen and (min-width:990px) {
  .container {
    width: 80%;
  }
  .gridContainer {
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  }

}

/*cierra 990*/


/* ===========================================
    Responsive 1200
============================================== */
@media screen and (min-width:1200px) {
  .container {
    width: 70%;
  }

}

/*cierra 1200*/